<!--<body style="overflow-y:hidden">-->


<!--# encoding: utf-8-->

<h3>Import a CSV File</h3>
  <%= form_tag import_vote_index_path, multipart: true do %>
    <%= 

file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>


<a href="/"><img id ="logo_who" src="/assets/sources/logo_ico.png" alt="logo"></a>

<div id="vote_time">
    <span style="font-size:24pt;">4월 13일 수요일</span><br>
    06:00~18:00<br>
    <span style="font-size:19pt;">사전투표 4월 8-9일</span>
</div>


<div id = "select-place">
    <h1 id="whoTitle">서울특별시</h1>
    
    <div style="margin-left:32%;">
        <div class='rgbtn' id='sl'>
            <span>서울특별시</span>
        </div>
        <div class='rgbtn'id='ic'>
            <span>인천광역시</span>
        </div>
        <div class='rgbtn'id='gg'>
            <span>경기도</span>
        </div>
        <div class='rgbtn'id='gw'>
            <span>강원도</span>
        </div>
            <div class='rgbtn' id='cb'>
            <span>충청북도</span>
        </div>
        <div class='rgbtn' id='cn'>
            <span>충청남도</span>
        </div>
        <div class='rgbtn' id='sj'>
            <span>세종특별자치시</span>
        </div>
        <div class='rgbtn' id='dj'>
            <span>대전광역시</span>
        </div>
        <div class='rgbtn' id='kb'>
            <span>경상북도</span>
        </div>
        <div class='rgbtn' id='kn'>
            <span>경상남도</span>
        </div>
        <div class='rgbtn' id='dg'>
            <span>대구광역시</span>
        </div>
        <div class='rgbtn' id='jb'>
            <span>전라북도</span>
        </div>
        <div class='rgbtn' id='jn'>
            <span>전라남도</span>
        </div>
        <div class='rgbtn' id='gj'>
            <span>광주광역시</span>
        </div>
        <div class='rgbtn' id='us'>
            <span>울산광역시</span>
        </div>
        <div class='rgbtn' id='bs'>
            <span>부산광역시</span>
        </div>    
        <div class='rgbtn' id='jj'>
            <span>제주특별자치도</span>
        </div>
    
    
    <div id="map-img">
    </div>
    </div>
    
</div>

<!--<div id="region_list">-->
<!--<% @region.each do |product| %>-->
<!--      <tr>-->
<!--        <td><%= product.region %></td>-->
<!--        <td><%= product.r_id %></td>-->
<!--        <td><%= product.goo_id %></td>-->
<!--        <td><%= product.goo_name %></td>-->
<!--        <td><%= product.boundary %></td>-->

        
<!--      </tr>-->
<!--<% end %>-->
<!--<% @candidates.each do |product| %>-->
<!--<td><%= product.num_p %></td>-->
<!--<% end %>-->
<script>
    wholeMap();
    window.onload = function() {
        wholeMap();
    }
    
</script>

<!--</body>-->