 <a href="/"><img id ="logo_who" src="/assets/sources/logo_ico.png" alt="logo"></a>

<h1 id="whoTitle"><%=@electRegion.region%>・<%=@electRegion.goo_name%></h1>

<div id="vote_time">
    <span style="font-size:24pt;">4월 13일 수요일</span><br>
    06:00~18:00<br>
    <span style="font-size:19pt;">사전투표 4월 8-9일</span>
</div>

<div id="region_list">
<!--<% @region.each do |product| %>-->
<!--      <tr>-->
<!--        <td><%= product.region %></td>-->
<!--        <td><%= product.r_id %></td>-->
<!--        <td><%= product.goo_id %></td>-->
<!--        <td><%= product.goo_name %></td>-->
<!--        <td><%= product.boundary %></td>-->

        
<!--      </tr>-->
<!--    <% end %>-->
    <% @region.each do |region| %>
        <div class='region1 <% if @electRegion.goo_id == region.goo_id %>
                            clicked
                            <% end %>' 
                    id="region_<%= region.goo_id %>">
            <h2><%= region.goo_name %></h2>
            <div>
                <!--region.boundary-->
                <% @boundary = region.boundary.split(',')%>
                    <%@boundary.each do |dong|%>
                        <%=dong%>
                        <br>
                <% end %>
            </div>
        </div>
    <% end %>
    




    <div id="candidate_list">
        <% @candidates.each do |candidate| %>
            <div class="candidate1 p<%= candidate.num %>">
                <div id="c1_box">
                    <img id="can_photo" src="<%= candidate.photo %>">   
                    <div id="c1_name">
                        <span id="party" class="party partyname<%= candidate.num %>"><%= candidate.party %></span>
                        <a id="can_pro" href="http://policy.nec.go.kr/svc/policy/PolicyViewDetail.do?applicant=<%= candidate.photo.split('/').last.split('.')[1] %>" target="_blank">
                            공약 및 후보자 기초정보 <img id="paper_img" src="/assets/sources/ico_paper.png">
                        </a><br>
                        <%= candidate.num %> <%= candidate.name %> <span id="birth"><%= candidate.birth %> &nbsp; <%= candidate.age %></span>
                        
                        <div id="c1_check">
                            <div>
                                차별금지법 <br>
                                <span id="check"><%= candidate.disc %></span>
                            </div>
                            <div>
                                테러방지법 <br>
                                <span id="check"><%= candidate.terror %></span>
                            </div>
                            <div>
                                필리버스터 <br>
                                <span id="check"> <%= candidate.num_p %> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <form name="c1_post" method="POST" action="/vote/comment_upload" onsubmit="return checkrate(this)">
                    <div id="<%=candidate.c_id%>" class="c1_comment pt<%= candidate.num %>">
                        <img id="c1_ico" src="/assets/sources/ico_like.png">평점 <% if candidate.reply_num != 0 %>
                                                                                                                <%= (candidate.rate_sum+0.0) / candidate.reply_num %>
                                                                                                                <% else %>
                                                                                                                0
                                                                                                                <% end %>점 &nbsp;
                        <img id="c1_ico" src="/assets/sources/ico_reply.png">리플 <%= candidate.reply_num %>개
                        <a href="/vote/comment?candidateID=<%= candidate.c_id%>"><span id="c1_more">더보기 <img id="c1_ico" src="/assets/sources/ico_more2.png"></span> </a>
                        <input id="input_comment" name="message" type="text" placeholder="후보에 대한 생각과 점수를 남겨주세요!">
                        <input class="rate" name="rate" type="hidden" value="-1" />
                        <input class="cand_id" name="candidateID" type="hidden" value="<%=candidate.c_id%>" />
                        <img class="input_like rate1" src="/assets/sources/like_0.png">
                        <img class="input_like rate2" src="/assets/sources/like_0.png">
                        <img class="input_like rate3" src="/assets/sources/like_0.png">
                        <img class="input_like rate4" src="/assets/sources/like_0.png">
                        <img class="input_like rate5" src="/assets/sources/like_0.png">
                    </div>
                </form>
            </div>
        <% end %>
    </div>
</div>



<script>
    window.onload = function() {
        buttonSet();
    }

</script>





